body {
    /*
    background-image: url(./assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    */
    
    /* Esse shorthand está substituindo o código acima => 
    backgrounnd: color image repeat positions/size */
    background: url(assets/bg-mobile.jpg) no-repeat top center/cover;
}