* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*
    background-image: url(./assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    */
    
    /* Esse shorthand está substituindo o código acima => 
    backgrounnd: color image repeat positions/size */
    background: url(assets/bg-mobile.jpg) no-repeat top center/cover;
}

body * {
    font-family: 'Inter', sans-serif;
    color: #fff;
}

#container {
    width: 360px;
    margin: 
    56px /*Aqui pegamos em cima */
    auto /*Aqui pegamos as laterais e deixamos a div #container alinhado ao meio */ 
    0px; /*Aqui pegamos em baixo */
    padding-top: 56px;

}

#profile {
    text-align: center;
    padding: 24px;
}

#profile img {
    width: 112px;
}

#profile p {
    font-weight: 500px;
    line-height: 24px;
    margin-top: 8px;
}